.denseLayout {
  display: flex;

  height: calc(100vh - 64px);

  background-color: $fg-color;

  .col {
    //overflow: hidden;
  }

  .leftCol {
    @extend .z-depth-2;

    width: 20%;
  }

  .mainCol {
    width: 80%;
  }

  .bottomLeft {
    margin-left: 12px;
    margin-bottom: 12px;

    .push {
      @include pushBadge(20px);
    }
  }
}
