.denseLayout {
  display: flex;

  height: calc(100vh - 64px);

  //overflow: hidden;

  background-color: $fg-color;

  .col {
    overflow: hidden;
  }

  .leftCol {
    @extend .z-depth-2;

    width: 20%;
  }

  .mainCol {
    //flex-grow: 1;

    width: 80%;
  }
}
