.accountActions {
  @include topMenu;
}

#accountActionsToggle {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: (64px - 50px) / 2;
}

#accountActionsArrow {
	z-index: index($elements, topMenuArrow);

	position: absolute;
	right: 10px + 50px/2 - 2px;
	top: 60px;

	width: 0;
	height: 0;

	border-style: solid;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent $sg-color transparent;
}

#accountActions {
	@extend .z-depth-2;

	z-index: index($elements, topMenu);

	position: absolute;
	right: 10px + 50px/2 - 16px;
	top: 60px + 16px;

	width: 270px;

  border-radius: 0 !important;

	#at-nav-button {
		width: 100%;
	}
}
