.albumSelector {
  @include paper;

  z-index: index($elements, albumSelector);

  position: absolute;

  min-width: 240px;

  background-color: $sg-color;

  > .scrollable {
    max-height: 360px;
  }

  li {
    @include hoverAlt;

    cursor: pointer;

    .title {

    }

    .undertitle {
      opacity: 0.7;

      font-size: 16px;
    }
  }

  form {
    display: flex;
    flex-flow: column;
  }
}
