.avatar {
	display: block;

	&.large {
		margin: 0 auto;

		width: 512px;
		height: auto;
		max-width: 100%;
		max-height: 512px;
	}

	&.small {
		$size: 81px;

		width: $size;
		height: $size;

		border-radius: $size;
	}

	&.smaller {
		$size: 64px;

		position: relative;
		left: 10px;
		top: 10px;

		float: left;

		width: $size;
		height: $size;

		border-radius: $size;
	}

	&.icon {
		$size: 36px;

		width: $size;
		height: $size;

		border-radius: $size;
	}

	&.topBar {
		$size: 50px;

		width: $size;
		height: $size;

		border-radius: $size;
	}

	&.fill {
		position: absolute;
		left: 0;
		top: 0;

		height: 100%;
	}

	&.material-icons {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.avatarContainer {
	position: relative;

	.status {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&.icon .status {
		$size: 12px;
		width: $size;
		height: $size;
		border-radius: $size/2;
	}
}
