@mixin badgeType($color) {
  background-color: rgba($color, 0.2);
  border-color: rgba($color, 0.6);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 4px;

  border: $border;
  border-radius: 3px;

  i {
    margin-right: 3px;

    font-size: 16px;
  }

  .label {

  }
}

.badge, .meatball {
  &.staff {
    @include badgeType(#368FBF);
  }

  &.whimsical {
    @include badgeType(#FF62A1);
  }

  &.technical {
    @include badgeType(#6ABF36);
  }

  &.intense {
    @include badgeType(#BF3836);
  }

  &.mysterious {
    @include badgeType(#3A36BF);
  }
}

.badgeGroup {
  display: flex;
  align-items: center;
  justify-content: left;

  padding: 4px 0;

  .badge:not(:last-child) {
    margin-right: 7px;
  }
}
