.birthdaySelector {
  margin-top: 12px;

  header {
    margin-bottom: 0 !important;

    h3 {
      margin: 0;

      font-size: 20px;
      text-align: left;
    }
  }

  .inner {
    display: flex;
  }
}
