.button {
  @include button;

  &.cancel, &.inactive, &.subtle {
    @include button($reassuring-gray);
  }

  &.danger:not(.subtle) {
    @include button($scary-cherry);
  }

  &.subtle.danger:hover {
    background-color: $scary-cherry;
  }

  &.subscribe {
    width: 164px;
  }

  &.bookmark {
    width: 170px;
  }

  &.friend-request {
    width: 204px;
  }

  &.friended {
    width: 136px;
  }
}

// Should we switch to spinal case for CSS?
.button-group {
  @include lightShadow;
  
  .button {
    box-shadow: none;
  }
}
