.mediumContainer {
  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-height: calc(100vh - 128px);
  }

  .medium {
    max-width: 100%;
    max-height: calc(100vh - 128px);

    width: auto;
    height: auto;

    object-fit: contain;
  }

  img.medium {
    cursor: zoom-in;
  }
}
