.moonbox {
  display: none;
  z-index: index($elements, viewer);

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba($bg-color, 0.7);

  .container {
    overflow: visible !important;

    width: 100%;
    height: 100%;

    object-fit: contain;

    img {
      max-width: calc(100% - 10px);
      max-height: calc(100% - 10px);
    }
  }

  .close {
    z-index: index($elements, viewer-close);

    position: absolute;
    right: 10px;
    top: 10px;

    .material-icons {
      font-size: 36px !important;
      text-shadow: -1px 1px 3px rgba(black, 0.6);

      cursor: pointer;
    }
  }
}
