#notificationListToggle {
  position: relative;

  .push {
    @include pushBadge(16px);

    position: absolute;
    left: 32px;
    bottom: 14px;
  }
}

#notificationArrow {
	z-index: index($elements, topMenuArrow);

	position: absolute;
	right: 16px/2 + 50px*1.78; // What am I even doing?
	top: 60px;

	width: 0;
	height: 0;

	border-style: solid;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent $sg-color transparent;
}

#notificationList {
	@extend .z-depth-2;
  @include vanillaLinks;

	z-index: index($elements, topMenu);

	position: absolute;
	right: 16px/2 + 45px*2;
	top: 60px + 16px;

  padding: 0;

	width: 270px;

  background-color: $sg-color;

	border-radius: 0 !important;

  list-style: none;

	li {
    display: flex;
    align-items: center;

    position: relative;

    padding-left: 16px;
    padding-right: 42px;
    padding-top: 12px;
    padding-bottom: 12px;

		width: 100%;
    min-height: 48px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: left;

    &:nth-child(even) {
      background: rgba(#666, 0.2);
    }

    a {
      margin-right: 3px;
    }
	}

  .notificationClose {
    position: absolute;
    right: 6px;
    top: 6px;

    cursor: pointer;
  }
}
