.profile {
  .leftSide {
    max-width: 45%;
  }

  .rightSide {

  }

  header {
    margin-bottom: 16px;

    text-align: left;
  }

  h2 {
    margin: 0;
    // We're going to have to clean this up...
    margin-bottom: 0 !important;
  }

  .catchphrase {
    font-style: italic;

    &:before {
      content: '"';
    }

    &:after {
      content: '"';
    }
  }

  .userInfo {
    margin-top: 24px;
  }
}
