/* override gemini-scrollbar default styles */

/* vertical scrollbar track */
.gm-scrollbar.-vertical {
  background-color: transparent;
}

/* horizontal scrollbar track */
.gm-scrollbar.-horizontal {
  background-color: transparent;
}

/* scrollbar thumb */
.gm-scrollbar .thumb {
  //background-color: desaturate($secondary-color, 25);
  background-color: $muted-light;
}
.gm-scrollbar .thumb:hover {
  //background-color: $secondary-color;
  background-color: $text-color;
}
