.textBody {
  width: 100%;

  em {
    margin-right: 3px;
  }

  ul {
    padding-left: 12px;

    list-style: disc;

    li {
      list-style: disc;
    }
  }

  ol {
    padding-left: 12px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;

    text-align: left;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }

  img {
    max-width: 100%;
    max-height: 60vh;
    width: auto;
    height: auto;
  }
}
