.topNav {
  @extend .z-depth-1;
  @include subtleLinks;

  $height: 64px;

  position: absolute;
  top: 0;

  padding-left: 14px;
  padding-right: 14px;

  width: 100%;
  height: $height;

  background-color: $primary-color;

  .waves-effect {
    margin-top: -3px;
  }

  .hotdog {
    z-index: index($elements, topNavItems);

    float: left;

    height: $height;

    color: $text-color;

    cursor: pointer;
    user-select: none;

    i {
      font-size: 42px;
      line-height: $height;
    }
  }

  .logoWrapper {
    z-index: index($elements, topNavLogo);

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  .brand-logo {
    font-size: 32px;
  }

  .topLevel {
    display: flex;

    margin: 0;

    height: $height;

    &.leftSide {
      float: left;

      align-content: left;
      justify-content: left;
    }

    &.rightSide {
      float: right;

      align-content: left;
      justify-content: right;
    }

    li {
      z-index: index($elements, topNavItems);

      height: $height;

      line-height: $height;

      span {
        font-size: 20px;
      }

      > a {
        padding-left: 12px;
        padding-right: 12px;

        height: $height;

        color: $text-color;

        i {
          &.left {
            margin-right: 10px;
          }

          line-height: $height;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .topNav i.left {
    margin-right: 0;
  }
}
