#topBar {
  position: absolute;
  top: 0;

  padding-left: 14px;
  padding-right: 14px;

  .brand-logo {
    z-index: index($elements, logo);

    //left: 0;
    //transform: none;

    font-size: 32px;

    &:hover {
      opacity: 1;
    }
  }

  a {
    color: $text-color;
  }

  ul.topLevel li {
    span {
      font-size: 20px;
    }

    > a {
      z-index: index($elements, logo);
    }
  }

  .searchButton {
    z-index: index($elements, searchButtons) + 1;

    position: relative;

    color: $text-color;

    label {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
    }
  }

  .searchClose {
    z-index: index($elements, searchButtons);

    visibility: hidden;
  }
}

#search {
  z-index: index($elements, searchInactive);

  position: absolute;
  top: 0;

  color: $text-color;

  &:focus {
    z-index: index($elements, search);

    background: $sg-color;
  }

  &:not(:focus) {
    width: 35%;
  }

  // Begin sadness

  &:-webkit-autofill:not(:focus) {
    -webkit-box-shadow: 0 0 0px 1000px $primary-color inset;
  }

  &:hover:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $primary-color inset;
  }

  &:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $sg-color inset;
  }

  &:focus:hover:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $sg-color inset;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 600s ease-in-out 0s;
  }

  -webkit-text-fill-color: $text-color !important;

  // End sadness
}
