.uploadQueue {
  position: fixed;
  left: 22px;
  bottom: 22px;

  min-width: 25%;
  max-width: 65%;
  max-height: 35vh;

  background: rgba($sg-color, 0.9);

  border: 1px solid rgba($text-color, 0.4);

  &.ps-active-y {
    padding-right: 8px;
  }

  ul {
    @include list;
  }

  li {
    &.complete {
      @include hover;

      cursor: pointer;
    }

    .delete {
      position: absolute !important;
      left: -6px;
      top: 1px;
    }

    .label {
      margin-left: 22px;
      margin-bottom: 6px;
    }
  }

  &:empty {
    display: none;
  }
}
