.uploadQueue {
  position: fixed;
  left: 22px;
  bottom: 22px;

  min-width: 25%;
  max-width: 45%;
  max-height: 35vh;

  background: rgba($sg-color, 0.9);

  border: 1px solid rgba($text-color, 0.4);

  &.ps-active-y {
    padding-right: 8px;
  }

  ul {
    @include list;
  }

  li {
    &.complete {
      @include hover;

      cursor: pointer;
    }

    .row {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 6px;

      min-height: 36px;
    }

    .preview {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 36px;
      height: 36px;
    }

    img {
      max-width: 36px;
      max-height: 36px;

      width: auto;
      height: auto;

      object-fit: contain;
    }

    .label {
      margin-left: 12px;

      text-align: left;
    }

    .delete {
      right: -12px;
    }
  }

  &:empty {
    display: none;
  }
}
