.userInfo {
  h3 {
    margin: 0;

    font-size: 26px;
  }

  ul {
    @include list;

    margin-top: -16px;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    .label {
      width: 25%;
    }

    .value {
      flex-grow: 1;

      &:before {
        content: ":";

        margin-right: 12px;
      }
    }
  }

}
