.accountActions {
	display: none;
}

#accountActionsToggle {
	margin-top: -2px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	#accountActionsToggle {
		margin-top: -5px;
	}
}

#accountActionsArrow {
	z-index: index($elements, accountActionsArrow);

	position: absolute;
	right: 10px + 50px/2 - 16px;
	top: 60px;

	width: 0;
	height: 0;

	border-style: solid;
	border-width: 0 16px 16px 16px;
	border-color: transparent transparent $sg-color transparent;
}

#accountActions {
	@extend .z-depth-2;

	z-index: index($elements, accountActions);

	position: absolute;
	right: 10px + 50px/2 - 16px;
	top: 60px + 16px;

	width: 270px;

	background: $sg-color;

	li, li a {
		width: 100%;
	}

	.row {
		margin-bottom: 0;
	}

	#at-nav-button {
		width: 100%;
	}
}
