#__blaze-root > .row {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 200px;

  > div {
    background: $fg-color;
  }
}

#topLogin #at-nav-button {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -4px;

  padding-top: 2px;
}

.at-pwd-link {
  margin-top: -16px;
  margin-bottom: 18px;
}
