@mixin vanillaLinks() {
  a:not(.btn) {
    &:link, &:visited {
      color: #29BED6;
    }

    &:hover, &:active {
      color: #30F0F0;
    }
  }
}

@mixin content  {
  @extend .z-depth-1;

  margin: 0 auto;
  margin-top: 100px;

  padding: 16px;

  width: 85%;

  background: $fg-color;
}

@mixin list() {
  margin: 0;

  padding: 0;

  list-style: none;

  li:nth-child(even) {
    background: rgba(#666, 0.2);
  }

  li {
    padding: 12px;
  }
}

@mixin contentList() {
  margin: 0;

  padding: 0;

  list-style: none;

  li {
    @include content;
  }

  li:not(:first-child) {
    margin-top: 0;
  }

  li:nth-child(even) {
    background: #2E2C2C;
  }
}

@mixin gallery() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  li {
    $size: 240px;

    width: $size + 42px;
    height: $size + 42px;

    text-align: center;

    .thumbnailContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: $size;
    }

		.thumbnail {
			max-width: $size;
			max-height: $size;
			width: auto;
			height: auto;
		}

    .label {

    }
	}
}

@mixin tag($background) {
  @include contentEditable($muted-dark);

	margin-right: 4px;

	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;

  height: 32px;

	color: $bg-color !important;
	background-color: rgba($background, 0.75);

  line-height: 28px;

	border: 1px solid mix($background, $bg-color, 60);

	&:hover {
		padding: 1px;
		padding-left: 3px;
		padding-right: 3px;

		border-width: 2px;

		background-color: $background;
	}
}
