.postGallery {
  @include content;

  ul {
    @include list;
    @include gallery;

    a .material-icons {
      color: $text-color;
    }
  }
}

.postForm {
  .medium {
    display: flex;
    align-items: center;
    justify-content: center;

    .mediumContent {
      max-width: 512px;
    }
  }
}

.post {
  > figure, > section {
    @include content;

    &:not(:first-child) {
      margin-top: 24px;
    }

    .info {
      margin-left: 16px;

      font-size: 20px;

      .btn {
        margin-top: 6px;
      }
    }
  }

  .infoBox {
    display: flex;
    align-items: center;
    align-content: left;
  }

  .tagBox {
    .info {
      .btn {
        width: 217px;

        .hover {
          display: none;
        }

        &:hover {
          .hover {
            display: inline-block;
          }

          .nothover {
            display: none;
          }
        }
      }
    }
  }
}
