.postGallery {
  @include content;

  ul {
    @include list;
    @include gallery;

    a .material-icons {
      color: $text-color;
    }
  }
}

.postForm {
  .mediumContainer {
    .medium {
      max-width: 512px;
      max-height: 50vh;
    }
  }
}

.post {
  > figure, > section {
    @include content;

    &:not(:first-child) {
      margin-top: 24px;
    }

    .info {
      margin-left: 16px;

      font-size: 20px;

      .action {
        margin-top: 12px;
      }
    }
  }

  .infoBox {
    .meta {
      display: flex;
      align-items: center;
      align-content: left;
    }

    .description {
      &:not(:empty) {
        margin-top: 16px;

        $pad: 24px;
        padding: $pad;
        padding-bottom: $pad - 16px;

        border-top: 1px solid rgba($muted-light, 0.5);
      }

      p {
        margin-bottom: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .tagBox {
    .info {
      .btn {
        width: 217px;

        .hover {
          display: none;
        }

        &:hover {
          .hover {
            display: inline-block;
          }

          .nothover {
            display: none;
          }
        }
      }
    }
  }
}
