$tag-bg: #CFF7FF;
$tag-bg-adj: #E2FFDB;
$tag-bg-character: #EBE4FF;
$tag-bg-meta: #FFFEE4;
$tag-bg-dangerous: #FFDCE7;

.taglet {
	@include tag($tag-bg);

	&.noun, &.generic {
		@include tag($tag-bg);
	}

	&.adj {
		@include tag($tag-bg-adj);
	}

	&.character {
		@include tag($tag-bg-character);
	}

	&.meta {
		@include tag($tag-bg-meta);
	}

	&.dangerous {
		@include tag($tag-bg-dangerous);
	}
}

.tagTree {
	margin-left: 32px;
	margin-right: 12px;

  font-size: 20px;
  line-height: 36px;

  i.left {
		position: absolute;
		left: -28px;

		margin-right: 6px;

    font-size: 20px;
    line-height: 36px;

		cursor: pointer;
		user-select: none;
		user-select: none;
  }

	> ul {
		> li {
			position: relative;

			vertical-align: top;

			&:not(.meta) {
				margin-right: 9px;

				padding-left: 9px;

				border-left: 1px solid rgba($text-color, 0.7);
			}
		}

		.toplevel, ul li {
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-content: center;

			height: 36px;
		}

		.with {
			position: absolute;

			margin-left: 2px;
		}

		ul {
			margin-left: 32px;
		}
	}
}
