@import "_mixins.scss";
@import "materialize/_materialize.scss";
@import url("//fonts.googleapis.com/css?family=Material+Icons|Slabo+27px");

$text-color: #EEF4EE;
$fg-color: #211E1E;
$bg-color: #282323;

html {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 64px;
  margin-bottom: 64px;

  width: 100%;

  color: $text-color;
  background: url(/images/my-little-plaid-dark.png) $bg-color;

  font-family: "Slabo 27px";
  font-size: 18px;

  > .row {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      background: $fg-color;
    }
  }
}

#topBar {
  position: absolute;
  top: 0;

  padding-left: 14px;
  padding-right: 14px;

  .brand-logo {
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

    font-size: 32px;

    &:hover {
      opacity: 1;
    }
  }

  a {
    color: $text-color;
  }

  li {
    span {
      font-size: 20px;
    }
  }
}

main {
  @extend .z-depth-1;

  margin: 0 auto;
  margin-top: 100px;

  padding: 16px;

  width: 85%;

  background: $fg-color;

  img {
    display: block;

    margin: 0 auto;

    max-width: 100%;
  }
}

#loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.progress.bottom {
  position: absolute;
  bottom: 0;

  margin: 0;

  height: 7px;
}

.dropzone {
  position: relative;

  padding: 24px;

  font-size: 20px;
  text-align: center;

  border: 2px dashed rgba(64, 64, 64, 1);

  cursor: pointer;
}

.addFile {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

h3 {
  margin-bottom: 22px;

  text-align: center;
}

#at-nav-button {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -4px;

  padding-top: 2px;
}

.at-pwd-link {
  margin-top: -16px;
  margin-bottom: 18px;
}

a:not, a:visited {
  color: #29BED6;
}

a:hover, a:active {
  color: #29D6D6;
}

video, audio {
  display: block;

  margin: 0 auto;

	max-width: 100%;
	max-height: 100%;

	cursor: default;

	background: transparent;
}

.material-tooltip .backdrop {
  background: $fg-color;
}

ul.posts, ul.invites {
  margin: 0;

  li:nth-child(even) {
    background: rgba(#666, 0.2);
  }

  li {
    padding: 12px;
  }
}

ul.posts {
  @include gallery;
}

.uhoh {
  padding: 12px;

  font-size: 28px;
  text-align: center;
}

.deleteInvite {
  float: right;

  cursor: pointer;
}

.container {
	margin: 0 auto;

	max-width: 100%;
}

.block {
	display: block;
	float: left;

	margin: 6px;

	width: 256px;
	height: 256px;

	border-radius: 1px;
}
