.post .infoBox {
  .flexLayout {
    width: 100%;
  }

  .originalityIcon, .privacyIcon {
    float: left;

    margin-right: 4px;
    margin-top: 4px;

    cursor: default;
  }

  .body {
    width: 100%;

    &:empty {
      // Fancy!
      display: none;
    }

    &:not(:empty) {
      margin-top: 16px;

      $pad: 24px;
      padding: $pad;
      padding-bottom: $pad - 16px;
    }
  }
}
