[Unit]
Description=ComfyCafe
After=mongodb.service

[Service]
ExecStart=/usr/local/bin/node /srv/ComfyCafe/bundle/main.js
Restart=always
User=comfycafe

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ComfyCafe

Environment=ROOT_URL={{ root_url }}
Environment=PORT={{ meteor_port }}
Environment=NODE_ENV=production
Environment=MONGO_URL={{ mongo_url }}
Environment=MONGO_OPLOG_URL={{ mongo_oplog_url }}
Environment="METEOR_SETTINGS={{ meteor_settings }}"
Environment=DDP_DEFAULT_CONNECTION_URL={{ ddp_url }}
Environment=MAIL_URL={{ mail_url }}

[Install]
WantedBy=multi-user.target
