@mixin button($color: $secondary-color) {
  @include lightShadow;
  @include hover($color);

  position: relative;

  padding: 0;
  padding-left: 10px;
  padding-right: 10px;

  height: 36px;
  line-height: 36px;

  color: $text-color;
  background-color: $color;

  border: 0;
  border-radius: 0;
  outline: 0;

  > div {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .label {
    margin-left: 12px;

    font-size: 18px;
    text-transform: uppercase;
  }
}
