@mixin hover($color: null) {
  @include trans;

  &:hover {
    @if $color {
      background-color: mix($color, #FFF, 80);
    } @else {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

@mixin hoverAlt {
  @include hover;

  &:nth-child(even):hover {
    background-color: rgba(#FFF, 0.10);
  }
}
