@mixin list() {
  margin: 0;

  padding: 0;

  list-style: none;

  > li:nth-child(even) {
    background: $fg-accent;
  }

  > li {
    position: relative;

    padding: 12px;

    > .more {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.list {
  @include list;
}
