@mixin tag($background) {
	margin-right: 4px;

	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;

  height: 32px;

	color: $bg-color !important;
	background-color: rgba($background, 0.75);

  line-height: 28px;

	border: 1px solid mix($background, $bg-color, 60);

	&:hover {
		padding: 1px;
		padding-left: 3px;
		padding-right: 3px;

		border-width: 2px;

		background-color: $background;
	}
}
