@mixin visibilityLinks() {
  &.friends {
    &:link, &:visited {
      color: #91FFA5;
    }

    &:hover, &:active {
      color: #7ADE4A;
    }
  }

  &.unlisted {
    &:link, &:visited {
      color: #FF91AC;
    }

    &:hover, &:active {
      color: #FF61A8;
    }
  }
}

a.visibility {
  @include visibilityLinks;
}
