[Unit]
Description=CorsAnywhere

[Service]
ExecStart=/usr/local/bin/node /srv/TeruImages/.cors-anywhere/server.js
Restart=always
User=teruimages

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CorsAnywhere

Environment=PORT={{ cors_anywhere_port }}

[Install]
WantedBy=multi-user.target
