[Unit]
Description=TeruImages
After=mongodb.service

[Service]
ExecStart=/usr/local/bin/node /srv/TeruImages/bundle/main.js
Restart=always
User=teruimages

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=TeruImages

Environment=ROOT_URL={{ root_url }}
Environment=PORT={{ meteor_port }}
Environment=NODE_ENV=production
Environment=MONGO_URL={{ mongo_url }}
Environment=METEOR_SETTINGS={{ meteor_settings }}
Environment=DDP_DEFAULT_CONNECTION_URL={{ ddp_url }}
Environment=MAIL_URL={{ mail_url }}

[Install]
WantedBy=multi-user.target
