<template name="feed">
  {{#if Template.subscriptionsReady}}
    <main>
      <ul class="posts">
        {{#each posts}}
          <div>
            {{> React component=PostPreviewComponent post=this}}
          </div>
        {{else}}
          <div class="uhoh">
            {{#if currentUser.profile.subscriptions}}
              None of your subscriptions have posted anything...
            {{else}}
              You haven't subscribed to anyone!
            {{/if}}
          </div>
        {{/each}}
      </ul>
    </main>
  {{else}}
    {{> loading}}
  {{/if}}

  {{#if currentUser}}
    <div>
      {{> React component=UploadFAB}}
    </div>
  {{/if}}
</template>
