<template name="home">
  {{> topBar}}
  <main>
    {{#if currentUser}}
      <div class="dropzone">
        {{#unless isUploading}}
          <input class="addFile" type="file" title="...or just click here.">
          Drop a file here!
        {{else}}
          <div class="progress">
            <div class="determinate" style="width: {{progress}}%"></div>
          </div>
        {{/unless}}
      </div>
    {{else}}
      <div class="uhoh">
        You aren't logged in, so you're powerless!
      </div>
    {{/if}}
  </main>
</template>
