<template name="index">
  {{> topBar}}
  <main>
    <ul class="posts">
      {{#each posts}}
        <li>
          <a href="{{pathFor route='post.view' name=name}}">{{name}}</a>
        </li>
      {{else}}
        <div class="uhoh">
          {{#if currentUser}}
            You haven't uploaded anything!
          {{else}}
            You aren't logged in, so you're powerless!
          {{/if}}
        </div>
      {{/each}}
    </ul>
  </main>
  {{#if currentUser}}
    <div id="fabUpload" class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Upload a file! You can also just drop one anywhere.">
        <i class="material-icons">add</i>
        <input class="addFile" type="file">
      </a>
    </div>
  {{/if}}
</template>
