<template name="index">
  {{#if Template.subscriptionsReady}}
    <main>
      <ul class="posts">
        {{#if currentUser}}
          {{#each posts}}
            <div>
              {{> React component=PostPreviewComponent post=this}}
            </div>
          {{else}}
            <div class="uhoh">
              You haven't uploaded anything!
              <div class="smaller">
                To upload a file, either press the button in the bottom right corner, or just drop a file anywhere.
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="uhoh">
            You aren't logged in, so you're powerless!
          </div>
        {{/if}}
      </ul>
    </main>
  {{else}}
    {{> loading}}
  {{/if}}

  {{#if currentUser}}
    <div>
      {{> React component=UploadFAB}}
    </div>
  {{/if}}
</template>
