<template name="post">
  {{#if Template.subscriptionsReady}}
    <main>
      <div class="medium">
        {{#with post}}
          <div>
            {{> React component=MediumComponent medium=medium}}
          </div>
        {{else}}
          <div>
            {{> React component=Inline404Component}}
          </div>
        {{/with}}
      </div>
    </main>
  {{else}}
    <div>
      {{> React component=LoadingSpinnerComponent}}
    </div>
  {{/if}}

  {{#with post}}
    {{#if showInfoBox}}
      <div>
        {{> React component=PostInfoBoxComponent post=this}}
      </div>

      <div class="tags">
        {{> tagTree}}
      </div>
    {{/if}}
    {{#if showEditButton}}
    <div>
      {{> React component=PostModifyFAB post=this}}
    </div>
    {{/if}}
    {{#if showFavoriteButton}}
      <div>
        {{> React component=FavoriteFAB post=this userId=currentUser._id}}
      </div>
    {{/if}}
  {{/with}}
</template>
