<template name="post">
  {{> topBar}}
  <main>
    <div class="medium">
      {{#with fileObj}}
        {{#if isImage}}
          <img src="{{this.url}}">
        {{/if}}
        {{#if isVideo}}
          <video id="video{{id}}" class="video-js vjs-default-skin" src="{{this.url}}">
            <source src="{{this.url}}" type="{{original.type}}">
          </video>
        {{/if}}
      {{/with}}
    </div>
  </main>
  {{#if isOwner}}
    <div id="fabDelete" class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Delete {{name}}?">
        <i class="material-icons">delete</i>
      </a>
    </div>
  {{/if}}
</template>
