<template name="preview">
  <li>
    <a href="{{pathFor route='post' postId=_id}}">
      <div class="thumbnailContainer">
        {{#unless thumbTerminated}}
          {{#with thumbnail}}
            <img class="thumbnail" src="/gridfs/media/{{md5}}">
          {{else}}
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          {{/with}}
        {{else}}
          <div class="thumbnail">
            <i class="material-icons large">image</i>
          </div>
        {{/unless}}
      </div>
    </a>
  </li>
</template>
