<template name="preview">
  <li>
    <a href="{{pathFor route='post.view' name=name}}">
      <div class="thumbnailContainer">
        {{#if thumbComplete}}
          {{#with thumbnail}}
            <img class="thumbnail" src="/gridfs/media/{{md5}}">
          {{else}}
            <div class="thumbnail">
              <i class="material-icons large">image</i>
            </div>
          {{/with}}
        {{else}}
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="label">
        {{name}}
      </div>
    </a>
  </li>
</template>
