<template name="profile">
	<main>
		<header>
			<h2>{{username}}</h2>
		</header>
		{{#unless isOwner}}
			{{> reactiveAvatar class="large" id=_id profile=profile title=username}}
			<div class="toolbox">
				{{#unless subscribed}}
					<a class="toggleSubscription waves-effect waves-light btn">
						<i class="material-icons left">add_box</i>
						Subscribe
					</a>
				{{else}}
					<a class="toggleSubscription waves-effect waves-light btn grey darken-2">
						<i class="material-icons left nothover">check_box</i>
						<span class="nothover">Subscribed</span>
						<i class="material-icons left hover">indeterminate_check_box</i>
						<span class="hover">Unsubscribe</span>
					</a>
				{{/unless}}
			</div>
		{{else}}
			{{#unless isChangingAvatar}}
				{{> reactiveAvatar class="large" id=_id profile=profile title=username}}
				<div class="toolbox">
					<a class="toggleChangeAvatar waves-effect waves-light btn">
						<i class="material-icons left">image</i>
						Change Avatar
					</a>
					{{#if hasAvatar}}
						<a class="deleteAvatar waves-effect waves-light btn red darken-3">
							<i class="material-icons left">delete</i>
							Delete Avatar
						</a>
					{{/if}}
				</div>
			{{else}}
				<div class="cropzone">
					<input class="addAvatar" type="file">
					<img class="newAvatar">
				</div>
				<div class="file-field input-field">
					<div class="btn">
						<span>File</span>
						<input class="addAvatar" type="file">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<a class="toggleChangeAvatar waves-effect waves-light btn grey darken-2">
					<i class="material-icons left">cancel</i>
					Cancel
				</a>
				<a class="setAvatar waves-effect waves-light btn">
					<i class="material-icons left">crop</i>
					Crop
				</a>
			{{/unless}}
		{{/unless}}
	</main>
</template>
