<template name="tagTree">
	{{#if tags.text}}
		<div class="tagTree">
			<ul>
				{{#each humanizedTags.nouns}}
					<li>
						<i class="addTag material-icons left">add_circle</i>
						<span class="toplevel">
							{{#if isEditing}}
								<a class="taglet adj new" contenteditable>new</a>
							{{/if}}
							{{#each adjectives}}
								<a class="taglet adj" href="/q/?search={{name}}+{{../name}}" title="{{definition}}" contenteditable="{{isEditing}}">{{name}}</a>
							{{/each}}
							<a class="taglet noun {{type}}" href="/q/?search={{name}}" title="{{definition}}" contenteditable="{{isEditing}}">{{name}}</a>
							<span class="with">
								{{#if descriptors}}with{{/if}}
							</span>
						</span>
						<ul>
							{{#each descriptors}}
								<li>
									{{#each adjectives}}
										<a class="taglet adj" href="/q/?search={{name}}+{{../name}}" title="{{definition}}" contenteditable="{{isEditing}}">{{name}}</a>
									{{/each}}
									<a class="taglet noun {{type}}" href="/q/?search={{name}}" title="{{definition}}" contenteditable="{{isEditing}}">{{name}}</a>
								</li>
							{{/each}}
						</ul>
					</li>
				{{/each}}
			</ul>
			{{#if isEditing}}
				<div class="formActions">
					<a class="cancel waves-effect waves-light btn grey darken-2">
						<i class="material-icons left">cancel</i>
						Cancel
					</a>
					<a class="submit waves-effect waves-light btn">
						<i class="material-icons left">done</i>
						Save
					</a>
				</div>
			{{/if}}
		</div>
	{{/if}}
</template>
