<template name="tagTree">
	{{#if tags.text}}
		<div class="tagTree">
			<ul>
				{{#each humanizedTags.nouns}}
					<li>
						<span class="root">
							{{#if isEditing}}
								<a class="taglet adj addAdj" title="Add adjective"><i class="material-icons">add</i></a>
							{{/if}}
							{{#each adjectives}}
								<a class="taglet adj" href="/q/{{name}}+{{../name}}" contenteditable="{{isEditing}}">{{#if isEditing}}{{name}}{{else}}{{name}}{{/if}}</a>
							{{/each}}
							<a class="taglet noun {{type}}" href="/q/{{name}}" contenteditable="{{isEditing}}">{{#if isEditing}}{{name}}{{else}}{{name}}{{/if}}</a>
						</span>
						<ul>
							{{#each descriptors}}
								<li class="descriptor">
									{{#if isEditing}}
										<a class="taglet adj addAdj" title="Add adjective"><i class="material-icons">add</i></a>
									{{/if}}
									{{#each adjectives}}
										<a class="taglet adj" href="/q/{{name}}+{{../name}}" contenteditable="{{isEditing}}">{{#if isEditing}}{{name}}{{else}}{{name}}{{/if}}</a>
									{{/each}}
									<a class="taglet noun {{type}}" href="/q/{{name}}" contenteditable="{{isEditing}}">{{#if isEditing}}{{name}}{{else}}{{name}}{{/if}}</a>
								</li>
							{{/each}}
							{{#if isEditing}}
								<li class="descriptor">
									<a class="taglet noun addNoun" title="Add noun"><i class="material-icons">add</i></a>
								</li>
							{{/if}}
						</ul>
					</li>
				{{/each}}
				{{#if isEditing}}
					<li>
						<span class="root">
							<a class="taglet noun addRootNoun" title="Add noun"><i class="material-icons">add</i></a>
						</span>
					</li>
				{{/if}}
			</ul>
			<div class="formActions">
				{{#if isEditing}}
					<a class="cancel waves-effect waves-light btn grey darken-2">
						<i class="material-icons left">cancel</i>
						Cancel
					</a>
					<a class="submit waves-effect waves-light btn">
						<i class="material-icons left">done</i>
						Save
					</a>
				{{else}}
					<a class="ediTags waves-effect waves-light btn pink lighten-2">
						<i class="material-icons left">loyalty</i>
						Edit Tags
					</a>
				{{/if}}
			</div>
		</div>
	{{/if}}
</template>
