<template name="tagTree">
	{{#if tags.text}}
		<div class="tagTree">
			<ul>
				{{!-- Tragically mangled by inline-block whitespace --}}
				{{#each humanizedTags.nouns}}
					<li>
						{{#each adjectives}}<a class="taglet adj" href="/q/?search={{name}}+{{../name}}" title="{{definition}}">{{name}}</a>{{/each}}<a class="taglet {{type}}" href="/q/?search={{name}}" title="{{definition}}">{{name}}</a> with
						<ul>
							{{#each descriptors}}
								<li>
									{{#each adjectives}}<a class="taglet adj" href="/q/?search={{name}}+{{../name}}" title="{{definition}}">{{name}}</a>{{/each}}<a class="taglet {{type}}" href="/q/?search={{name}}" title="{{definition}}">{{name}}</a>
								</li>
							{{/each}}
						</ul>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</template>
