$text-color: #EEF4EE;
$sg-color: #303030;
$fg-color: #211E1E;
$fg-accent: rgba(#666, 0.2); // Used for alternation in list, etc.
$bg-color: #282323;

$muted-light: rgba($text-color, 0.7);
$muted-dark: rgba($sg-color, 0.6);

$reassuring-gray: #616161;
$scary-cherry: #C93838;
$poison-pink: #FF7676;
$verdant-victory: #237B4C;
